---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/this-is-an-api-key/37.8267,-122.423,1362974400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - ! '"907190395"'
      X-Response-Time:
      - 215ms
    body:
      encoding: US-ASCII
      string: ! '{"latitude":37.8267,"longitude":-122.423,"timezone":"Etc/GMT+8","offset":-8,"currently":{"time":1362974400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"temperature":51.3,"windSpeed":4.68,"windBearing":223,"cloudCover":0.13,"humidity":0.8,"pressure":1015.98,"visibility":7.16},"hourly":{"summary":"Foggy
        in the morning.","icon":"fog","data":[{"time":1362902400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"temperature":45.21,"windSpeed":5.96,"windBearing":250,"cloudCover":0.23,"humidity":0.83,"pressure":1016.66},{"time":1362906000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"temperature":43.87,"windSpeed":5.57,"windBearing":252,"cloudCover":0.46,"humidity":0.85,"pressure":1016.7,"visibility":6},{"time":1362909600,"summary":"Partly
        Cloudy","icon":"pa[...]
